@charset "utf-8";

#becky{
	background-color: #263849;
	color: #FFF;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	position: relative;



}
.container{
	max-width: 1000px;
}
/*.img{
		border-radius: 100%;
		border-width: 0.8em;
		border-style: solid;
		border-color: #FFF;
		width: 100%;
		max-width: 350px;
		margin-bottom: 30px;

	}*/
h3{
	text-transform:uppercase;
}
.line{
	border-bottom-width: 0.05em;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-bottom: 20px;
	text-align: center;
	text-transform:uppercase;
}
.line2{
	border-bottom-width: 0.05em;
	border-bottom-style: solid;
	border-bottom-color: #41506b;
	padding-bottom: 20px;
	text-align: center;
	text-transform:uppercase;
}
#about{
	background-color: #41506b;
	color: #FFF;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
	font-family: 微軟正黑體;
	font-size: 16px;
	line-height: 26px;


}
/*.contact{
	line-height: 30px;
	font-size: 15px;
	height: 30px;

}*/
.icon_size{
	width: 40px;
	height: 30px;
	line-height: 30px;

}
.rotatible > img {
	width: 100%;
	border-radius: 100%;
	border-width: 0.5em;
	border-style: solid;
	border-color: #FFF;
	max-width: 800px;

}
.blank{
	height: 30px;

}
#Portfolio{
	background-color: #fff;
	color: #41506b;
	padding-top: 50px;
	padding-bottom: 30px;
	font-family: 微軟正黑體;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	min-height: 500px;

}
.pic{

	margin-top: 2.5em;
}
.pic a hover {
	background-color: #000;

}
.tab {
    overflow: hidden;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #e1e8f5;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;

}
